.outlinedButton {
  border-radius: 999px;
  border: 1px solid var(--color, var(--primary));
  padding: 8px 20px;
  background-color: transparent;
  color: var(--color, var(--primary));
  font-size: .75rem;
  cursor: pointer;
  transition-duration: 300ms;

  &:hover {
    color: white;
    background-color: var(--color, var(--primary));
  }
}

.flatButton {
  border-radius: 999px;
  border: 1px solid var(--color, var(--primary));
  padding: 16px 48px;
  background-color: var(--color, var(--primary));
  color: var(--text-color, var(--primary));
  cursor: pointer;
  transition-duration: 300ms;

  &:hover {
    background-color: transparent;
    color: var(--text-hover-color, var(--primary));
  }
}

.sectionTitle {
  padding: 128px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 2.9rem;
  }
  hr {
    margin-bottom: 32px;
    width: 64px;
    height: 0;
  }
  p {
    text-align: center;
    width: 700px;
    font-size: 1.1rem;
  }
}