@use "../../assets/css/dimens" as dimens;

.cover {
  background-color: #0C0928;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding-top: dimens.$navbarHeight;

  h1 {
    font-size: 5rem;
    font-weight: 900;
  }
  p {
    font-size: 2.5rem;
  }

  .actions {
    padding-top: 64px;

    & > *:first-child {
      margin-right: 24px;
    }
  }
}

.demoListView {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 64px 32px;
  
  a {
    margin: 32px;
    position: relative;
    color: white;
    font-size: 1.5rem;

    img {
      width: 400px;
    }

    & > div {
      width: 100%;
      height: 100%;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: color-mix(in srgb, var(--primary) 50%, transparent);
      top: 0;
      left: 0;
      visibility: hidden;
      opacity: 0;
      transition-duration: 300ms;
    }
    &:hover > div {
      visibility: visible;
      opacity: 1;
    }
  }
}

.featuresListView {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 32px;

  & > div {
    width: 370px;
    height: 370px;
    margin: 0 20px;
    user-select: none;
    padding: 48px 32px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition-duration: 300ms;

    &:hover {
      box-shadow: 0 0 30px #0002;
      translate: 0 -12px;
      
      hr {
        width: 100%;
      }
    }

    img {
      width: 64px;
      height: 64px;
    }
    h1 {
      font-weight: normal;
      font-size: 1.5rem;
      text-align: center;
    }
    p {
      text-align: center;
      padding: 0 12px;
    }
    hr {
      margin: 15px 0;
      width: 32px;
      transition-duration: 500ms;
    }
  }
}

.pricingsListView {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 64px 32px;

  & > div {
    width: 330px;
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:hover hr { width: 100%; }

    h1 { font-size: var(--heading-size); }
    li {
      list-style: none;
      padding: 3px 0;
      padding-left: 4px;

      &::before {
        content: "✓";
        padding-right: 12px;
      }
    }
    hr {
      width: 48px;
      margin-bottom: 16px;
      margin-top: 8px;
      transition-duration: 600ms;
    }
    p {
      font-weight: bold;
      
      span { font-size: 3.7rem; }
    }
    del { color: grey; }
    button {
      padding: 12px 64px;
      margin-top: 32px;
      border-width: 2px;
    }
  }
}

.support {
  padding: 64px 130px;
}
.supportForm {
  display: flex;

  & > * {
    width: 50%;
    box-sizing: border-box;
    padding: 64px 48px;
  }
  & > div:first-child {
    background-color: var(--primary);
    padding-right: 156px;
  }
  & > div:last-child { background-color: #F7F8F9; }
  h1 {
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 32px;
  }
  p { font-size: 1.2rem; }
  button { border-width: 2px; }
}
.supportInput {
  border-bottom: 2px solid #DDD;
  width: 100%;
  position: relative;
  margin: 24px 0;
  
  input, textarea {
    border: none;
    width: 100%;
    font-size: 1.1rem;
    padding: 12px 8px;
    background-color: transparent;
    outline: transparent;
    font-family: inherit;
    resize: none;
  }
  input::placeholder, textarea::placeholder {
    color: #CCC;
  }
  & > div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-bottom: 2px solid var(--secondary);
    transition-duration: 200ms;

    p {
      color: var(--secondary);
      font-weight: normal;
      font-size: 1rem;
      translate: 0 -12px;
      user-select: none;
      transition-duration: 200ms;
    }
  }
}
.supportListView {
  display: flex;
  padding-top: 128px;
  padding-bottom: 64px;
  
  & > div {
    flex: 1;
    padding: 32px;
    transition-duration: 300ms;

    &:hover {
      box-shadow: 0 0 30px #0002;
      translate: 0 -12px;

      button {
        background-color: var(--secondary);
        color: white;
      }
      hr {
        width: 100%;
      }
    }
    &:first-child { margin-right: 48px; }
    h1 {
      font-size: 1.5rem;
      margin: 8px 0;
    }
    hr {
      width: 64px;
      margin-bottom: 16px;
      transition-duration: 500ms;
    }
    button {
      padding: 8px 20px;
      border: 1px solid var(--secondary);
      color: var(--secondary);
      border-radius: 999px;
      font-size: .7rem;
      margin-top: 24px;
      background-color: transparent;
      transition-duration: 300ms;
      cursor: pointer;
    }
  }
}

.promotion {
  background-color: #111935;
  padding: 128px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;

  h1 {
    font-size: 2.3rem;
  }
  hr {
    margin-top: 20px;
    margin-bottom: 32px;
    width: 64px;
    height: 0;
  }
  p {
    text-align: center;
    width: 700px;
    font-size: 1.1rem;
    line-height: 2;
  }
  span {
    color: var(--primary);
    font-weight: 300;
  }
  button {
    border-width: 2px;
    margin-top: 64px;
  }
}