@use "../../assets/css/dimens" as dimens;

.cover {
  background-color: #0C0928;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding-top: dimens.$navbarHeight;

  h1 {
    font-size: 5rem;
    font-weight: 900;
  }
  p {
    font-size: 2.5rem;
  }

  .actions {
    padding-top: 64px;

    & > button:first-child {
      margin-right: 24px;
    }
  }
}